<div class="row">
  <div class="col-8">
    <div class="card">
      <div class="card-header bg-success">
        <h6>Employee List</h6>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-12">
            <table class="table table-bordered">
              <thead>
                <tr class="text-center">
                  <th>Sr No</th>
                  <th>Employee Name</th>
                  <th>Email-Id</th>
                  <th>Contact No</th>
                  <th>City</th>
                  <th>State</th>
                  <th>Pin Code</th>
                  <th>Address</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let employee of employeeList; let i = index" class="text-center">
                  <td>{{ i + 1 }}</td>
                  <td>{{ employee.empName }}</td>
                  <td>{{ employee.emailId }}</td>
                  <td>{{ employee.contactNo }}</td>
                  <td>{{ employee.city }}</td>
                  <td>{{ employee.state }}</td>
                  <td>{{ employee.pinCode }}</td>
                  <td>{{ employee.address }}</td>
                  <td class="text-center">
                    <button class="btn btn-primary" (click)="onEdit(employee)">Edit</button>
                    <button class="btn btn-danger mx-2" (click)="onDelete(employee.empId)">Delete</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="card">
      <div class="card-header bg-success">
        New Employee
      </div>
      <div class="card-body">
        <form [formGroup]="employeeForm">
          <div class="row">

            <div class="col-12">
              <label for="">Employee Name</label>
              <input type="text" formControlName="empName" class="form-control" placeholder="enter employee name">
              <div class="text-danger">
                <ng-container *ngIf="employeeForm.controls['empName'].touched">
                  <ng-container *ngIf="employeeForm.controls['empName'].errors?.['required']">
                    <span>Name is required</span>
                  </ng-container>
                </ng-container>
              </div>
            </div>

            <div class="col-12">
              <label for="">Email-Id</label>
              <input type="text" formControlName="emailId" class="form-control" placeholder="enter employee email id">

              <div class="text-danger"> 
                <ng-container *ngIf="employeeForm.controls['emailId'].touched"> 
                <ng-container *ngIf="employeeForm.controls['emailId'].errors?.['required']"> 
                  <span>Email ID is required</span>
                </ng-container> 
                <ng-container *ngIf="employeeForm.controls['emailId'].errors?.['email']"> 
                  <span>Invalid Email ID format</span>
                </ng-container> 
              </ng-container>
                </div>

            </div>

            <div class="col-6">
              <label for="">Contect No</label>
              <input type="text" formControlName="contactNo" class="form-control"
                placeholder="enter employee contact no">

              <div class="text-danger"> 
                <ng-container *ngIf="employeeForm.controls['contactNo'].touched"> 
                <ng-container *ngIf="employeeForm.controls['contactNo'].errors?.['required']"> 
                  <span>Contact Number is required</span>
                </ng-container> 
                <ng-container *ngIf="employeeForm.controls['contactNo'].errors?.['minlength'] || employeeForm.controls['contactNo'].errors?.['maxlength']">
                  <span>Contact Number must be 10 digits</span> <br>
                </ng-container> 
                <ng-container *ngIf="employeeForm.controls['contactNo'].errors?.['pattern']">
                  <span>Only numbers are allowed</span> 
               </ng-container>
                
              </ng-container> 
              </div>
            
            </div>

            <div class="col-6">
              <label for="">City</label>
              <input type="text" formControlName="city" class="form-control" placeholder="enter city">
            </div>

            <div class="col-6">
              <label for="">State</label>
              <input type="text" formControlName="state" class="form-control" placeholder="enter state">
            </div>

            <div class="col-6">
              <label for="">Pin Code</label>
              <input type="text" formControlName="pinCode" class="form-control" placeholder="enter pin code">
              <div class="text-danger"> <ng-container *ngIf="employeeForm.controls['pinCode'].touched"> <ng-container
                    *ngIf="employeeForm.controls['pinCode'].errors?.['required']"> <span>Pin Code is required</span>
                  </ng-container> <ng-container *ngIf="employeeForm.controls['pinCode'].errors?.['minlength']">
                    <span>Min 6 characters are required</span> </ng-container> </ng-container> </div>
            </div>

            <div class="col-12">
              <label for="">Address</label>
              <textarea formControlName="address" class="form-control" placeholder="enter employee address"></textarea>
            </div>

          </div>
          <div class="row pt-2">
            <div class="col-6 text-center">
              <button class="btn btn-secondary" type="button" (click)="reset()">Reset</button>
            </div>
            <div class="col-6 text-center">
              <ng-container *ngIf="employeeForm.controls['empId'].value == 0; else updateTemplate">
                <button class="btn btn-success" type="button" [disabled]="employeeForm.invalid" (click)="onSave()">Save
                  Employee</button>
              </ng-container>
              <ng-template #updateTemplate> <button type="button" class="btn btn-warning"
                  [disabled]="employeeForm.invalid" (click)="onUpdate()">
                  Update Employee</button>
              </ng-template>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>